@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  color: white;
  margin: 0;
  height:100%;
  font-family: 'Montserrat', sans-serif;
}

#header {
  background-color: #3BB9FF;
  height: 150px;
  line-height: 150px;
  width: 100%;
}

#header-title{
  display: block;
  float: left;

  font-size: 50px;
  font-weight: bold;
}

#header-nav{
  display: block;
  float: right;
  margin-top: 0;
}

#header-nav li {
  display: inline;
  padding-left: 20px;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}
.post-container:nth-child(even){
  background-color: white;
}
.post-content{
  font-size: 50px;
  color: white;
  margin-top: 290px;
}

#header a {
  color: white;
  text-decoration: none;

  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#header a:hover{
  color: #222;
}

#footer, #about-footer {
  background-color: white;
  padding: 50px 0;
}

#about-footer
{
  position: fixed;
  width: 100%;
  bottom: 0;
}

.column {
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
}

#footer h4, #about-footer h4{
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#footer p, #about-footer p{
  color: white;
}
#block{
  width: 40px;
  height: 40px;
  background: url(Dragon.jpg);
  position: relative;
  top: 260px;
  left: 960px;
  animation: block 1s infinite linear;
}
a {
  color: #1abc9c;
  text-decoration: none;
}
a:hover {
  color: #F6A623;
}

.post, .about {
  max-width: 1800px;
  margin: 0 auto;
  padding: 60px 0;
}

.post-author {
        display: flex;
        align-items: center;
        justify-content: left;
}

.post-author img {
  width: 800px;
  height: 600px;
  padding: 0px 0px;
}

.post-author span {
  padding: 0px 10px;
  font-size: 50px;
  white-space: nowrap;
}

.post-author strong {
  padding: 0px 200px;
  white-space: nowrap;
}


.post-date {
  color: #D2D2D2;

  font-size: 50px;
  font-weight: bold;

  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h1, h2, h3, h4 {
  color: #333;
}

p {
  line-height: 1.5;
}
.about {
  text-align: center;
}
.about-author img {
  width: 200px;
  height: 200px;
}

.post-author img, .about-author img {
  border-radius: 50%;
}


.Sessionimg {
  justify-content: left;
  align-items: left;
  height: 130px;
  width: 1010px;
}


/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  display: inline-block;
  background-color: #555;
  color: white;
  padding: 0px 0px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  vertical-align: top;
  bottom: 0px;
  right: 0px;
  width: 203px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  bottom: 1000px;
  right: 100px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}





/* Set a style for the submit/login button */
.btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 50%;
  margin-bottom:10px;
  margin-left:25%;
  opacity: 0.8;
  font-size: 50px;
  border-radius: 99em;
}

.AppBlockHolder {
  opacity: 0;
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 50%;
  margin-bottom:10px;
  margin-left:25%;
  font-size: 50px;
  border-radius: 99em;
}


/* Add a red background color to the cancel button */
.cancel {
  background-color: red;
  opacity: 0;
  margin-top:36.4%;
  margin-left:3%;
  border: none;
  cursor: pointer;
  width: 56%;
  height: 160px;
  font-size: 50px;
  color: red;
  border-radius: 99em;
}
.TimeSelectSettings {
  background-color: green;
  opacity: 0;
  margin-top:36.4%;
  margin-left:10%;
  border: none;
  cursor: pointer;
  width: 19%;
  height: 160px;
  font-size: 45px;
  border-radius: 50%;
}


.SessionStartcancel {
  background-color: red;
  opacity: 0;
  margin-top:72%;
  margin-left:3%;
  border: none;
  cursor: pointer;
  width: 56%;
  height: 160px;
  font-size: 50px;
  color: red;
  border-radius: 99em;
}
.SessionStartSettings {
  background-color: green;
  opacity: 0;
  margin-top:72%;
  margin-left:10%;
  border: none;
  cursor: pointer;
  width: 19%;
  height: 160px;
  font-size: 45px;
  border-radius: 50%;
}



.EndSessionDialogue {
  background-color: red;
  opacity: 0;
  margin-top:140%;
  margin-left:2.9%;
  border: none;
  cursor: pointer;
  width: 44%;
  height: 124px;
  font-size: 50px;
  color: red;
  border-radius: 99em;
}
.NevermindDialogue {
  background-color: green;
  opacity: 0;
  margin-top:140%;
  margin-left:5%;
  border: none;
  cursor: pointer;
  width: 44%;
  height: 124px;
  font-size: 45px;
  border-radius: 99em;
}


.SettingsHome {
  background-color: red;
  opacity: 0;
  margin-top:130%;
  margin-left:7.7%;
  border: none;
  cursor: pointer;
  width: 22.4%;
  height: 160px;
  font-size: 45px;
  border-radius: 40%;
}
/* Add some hover effects to buttons */
.btn:hover, .open-button:hover{
  opacity: 1;
}

.smolbtnR {
  background-color: green;
  opacity: 0;
  margin-top:78.5%;
  margin-left:4.5%;
  border: none;
  cursor: pointer;
  width: 20%;
  height: 245px;
  font-size: 40px;
  border-radius: 100%;
}
.smolbtnST {
  background-color: green;
  opacity: 0;
  margin-top:78.5%;
  margin-left:3.9%;
  border: none;
  cursor: pointer;
  width: 20%;
  height: 245px;
  font-size: 40px;
  border-radius: 100%;
}
.smolbtnS {
  background-color: green;
  opacity: 0;
  margin-top:78.5%;
  margin-left:3.6%;
  border: none;
  cursor: pointer;
  width: 20%;
  height: 245px;
  font-size: 40px;
  border-radius: 100%;
}
.smolbtnSC {
  background-color: green;
  opacity: 0;
  margin-top:78.9%;
  margin-left:3.9%;
  border: none;
  cursor: pointer;
  width: 20%;
  height: 245px;
  font-size: 40px;
  border-radius: 100%;
}

.timer {
  text-align: center;
  font-size: 110px;
  margin-top: 865px;
  color: white;
}

.RewardLogHomeBtn {
  background-color: red;
  opacity: 0;
  top:0%;
  left:100%;
  margin-top:175%;
  margin-left:5%;
  border: none;
  cursor: pointer;
  width: 31.2%;
  height: 240px;
  font-size: 50px;
  border-radius: 34%;
}

.start-session-button {
  background-color: red;
  opacity: 0;
  margin-top:74.9%;
  margin-left:5.1%;
  border: none;
  cursor: pointer;
  width: 89.6%;
  height: 236px;
  font-size: 50px;
  border-radius: 99em;
}

.SchedulerAdd {
  background-color: red;
  opacity:0;
  margin-top:47%;
  margin-left:4.5%;
  border: none;
  cursor: pointer;
  width: 91%;
  height: 236px;
  font-size: 50px;
  border-radius: 99em;
}
.SchedulerLink {
  background-color: red;
  opacity: 0;
  margin-top:85%;
  margin-left:4.5%;
  border: none;
  cursor: pointer;
  width: 91%;
  height: 236px;
  font-size: 50px;
  border-radius: 99em;
}
.SchedulerCalendar {
  background-color: red;
  opacity: 0;
  margin-top:4%;
  margin-left:4.5%;
  border: none;
  cursor: pointer;
  width: 91%;
  height: 236px;
  font-size: 50px;
  border-radius: 99em;
}

.RealCalendar {
  background-color: red;
  opacity: 0;
  margin-top:180%;
  margin-left:4%;
  border: none;
  cursor: pointer;
  width: 92.3%;
  height: 236px;
  font-size: 50px;
  border-radius: 99em;
}


.AddAssignment {
  opacity: 0;
  margin-top:50%;
  margin-left:4%;
  border: none;
  cursor: pointer;
  width: 92.3%;
  height: 800px;
  font-size: 50px;
  border-radius: 25%;
}

.faker {
  opacity: 0;
  margin-top: -5%;
  margin-left:6%;
  border: none;
  cursor: pointer;
  width: 0%;
  height: 230px;
  font-size: 50px;
  border-radius: 34%;
}

.RewardLogHomeBtn:hover, .start-session-button:hover,
.smolbtnR:hover, .smolbtnST:hover, .smolbtnS:hover, .smolbtnSC:hover,
.cancel:hover, .TimeSelectSettings:hover, .SettingsHome:hover,
.SessionStartcancel:hover, .SessionStartSettings:hover,
.SchedulerAdd:hover, .SchedulerLink:hover, .SchedulerCalendar:hover,
.RealCalendar:hover, .NevermindDialogue:hover, .EndSessionDialogue:hover{
  opacity: 0.2;
}
