@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  color: #555;
  margin: 0;

  font-family: 'Montserrat', sans-serif;
}* {box-sizing: border-box;}


#header {
  background-color: #3BB9FF;
  height: 150px;
  line-height: 150px;
}

#header-title{
  display: block;
  float: left;

  font-size: 25px;
  font-weight: bold;
}

#header-nav{
  display: block;
  float: right;
  margin-top: 0;
}

#header-nav li {
  display: inline;
  padding-left: 20px;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
}
.post-container:nth-child(even){
  background-color: #f2f2f2;
}

#header a {
  color: white;
  text-decoration: none;

  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#header a:hover{
  color: #222;
}

#footer, #about-footer {
  background-color: #2f2f2f;
  padding: 50px 0;
}

#about-footer
{
  position: fixed;
  width: 100%;
  bottom: 0;
}

.column {
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
}

#footer h4, #about-footer h4{
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#footer p, #about-footer p{
  color: white;
}

#game{
  width: 1000px;
  height: 400px;
  background: url(Background.jpg);
  border: 2px solid black;
}

#character{
  width: 100px;
  height: 65px;
  background: url(Wolf.jpg);
  position: relative;
  top: 300px;
}
.animate{
  animation: jump 500ms;
}

@keyframes jump{
    0%{top: 300px;}
    30%{top: 200px;}
    70%{top: 200px;}
    100%{top: 300px;}
}

#block{
  width: 40px;
  height: 40px;
  background: url(Dragon.jpg);
  position: relative;
  top: 260px;
  left: 960px;
  animation: block 1s infinite linear;
}

@keyframes block{
    0%{left: 1000px}
    100%{left: -40px}
}

a {
  color: #1abc9c;
  text-decoration: none;
}

a:hover {
  color: #F6A623;
}

.post, .about {
  max-width: 1800px;
  margin: 0 auto;
  padding: 60px 0;
}

.post-author {
        display: flex;
        align-items: center;
        justify-content: left;
}

.post-author img {
  width: 800px;
  height: 600px;
  padding: 0px 0px;
}

.post-author span {
  padding: 0px 10px;
  font-size: 50px;
  white-space: nowrap;
}

.post-author strong {
  padding: 0px 200px;
  white-space: nowrap;
}


.post-date {
  color: #D2D2D2;

  font-size: 50px;
  font-weight: bold;

  text-transform: uppercase;
  letter-spacing: 0.1em;
}

h1, h2, h3, h4 {
  color: #333;
}

p {
  line-height: 1.5;
}
.about {
  text-align: center;
}
.about-author img {
  width: 200px;
  height: 200px;
}

.post-author img, .about-author img {
  border-radius: 50%;
}

.button {
    display: inline-block;
    height: 130px;
    padding: 0;
    margin: 0;
    vertical-align: top;
    width: 203px;
}
.start-session-button {border-radius: 50px;}

#close-image img {
    display: block;
    height: 130px;
    width: 200px;
}


/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  display: inline-block;
  background-color: #555;
  color: white;
  padding: 0px 0px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  vertical-align: top;
  bottom: 0px;
  right: 0px;
  width: 203px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  bottom: 1000px;
  right: 100px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}


/* Add a red background color to the cancel button */
.cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.btn:hover, .open-button:hover {
  opacity: 1;
}

.smolbtn {
  background-color: #04AA6D;
  color: white;
  padding: 20px 30px;
  border: none;
  cursor: pointer;
  width: 15%;
  height: 100px;
  margin-top:10px;
  margin-bottom:10px;
  margin-right:10px;
  margin-left:20px;
  opacity: 0.8;
  border-radius: 50%;
}
